* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./images/know.jpg");
}

h1,
h3 {
  color: aliceblue;
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-left: 5rem;
}

.know {
  color: white;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
