.head-text {
  padding: 20px 0px;
}

.big-text {
  font-size: 35px;
  margin: 20px 0;
  color: darkorange;
}

h1 {
  margin-top: 2rem;
  padding: 30px;
  text-align: center;
}

.img-responsive {
  margin-bottom: 2rem !important;
}

.btn btn-primary {
  color: white;
}

form {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
